div {
    background-color: darkcyan;
    text-align: right;
}

/* ========================================== */
/* FRONT-END DEVELOPER (Muhammed) - Table     */
/* ========================================== */
table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    padding: 8px;


}